# .env.example

# 1. Local Dummy Servers

DUMMY_PORT_1=3001
DUMMY_PORT_2=3002

# 2. External API Configuration (Bring Your Own App)

# Replace these if testing your own external apps (e.g., Vercel, AWS)
TARGET_BASE_URL="https://reqres.in"
REQRES_API_KEY="replace_me_with_your_actual_token_if_needed"